In [2]:
import numpy as np
import pandas as pd

from DiscountCurve import DiscountCurve

In [2]:
payments = pd.read_excel('aux_curvas.xlsx', 'Ejemplo PV')
zc = pd.read_excel('aux_curvas.xlsx', 'ZC')

In [3]:
dc = DiscountCurve(zc['Fecha'], zc['ZR'], pd.Timestamp('20220901'))

In [4]:
dc.valuation_date

Timestamp('2022-09-01 00:00:00')

In [5]:
dc.discount_factor(payments['Fecha'], pd.Timestamp('20220906'))

array([0.96372635, 0.93044107, 0.90295592, 0.8775014 , 0.85318431,
       0.82912839, 0.8057259 , 0.78272372, 0.75985309, 0.73709284,
       0.71466782, 0.69279889, 0.67156283, 0.65099056, 0.63106128,
       0.61354905, 0.59670179, 0.58031658, 0.56468045, 0.54963141,
       0.53679856, 0.52461003, 0.51297061, 0.50182873, 0.49128064,
       0.48098891, 0.47122998, 0.46192589, 0.45303363, 0.44449313])

In [6]:
dc.pv(payments['Fecha'], payments['Pago'], pd.Timestamp('20220906'))

19.8748911601052

In [7]:
dc

            Zero Rate
2022-09-02   0.023217
2022-09-06   0.023134
2022-09-15   0.023148
2022-09-22   0.023153
2022-10-11   0.026895
2022-11-09   0.028281
2022-12-08   0.030378
2023-01-10   0.032034
2023-02-08   0.033054
2023-03-08   0.033937
2023-06-08   0.035751
2023-09-08   0.036564
2024-09-10   0.035717
2025-09-10   0.033824
2026-09-10   0.032526
2027-09-09   0.031663
2028-09-08   0.031155
2029-09-10   0.030772
2030-09-10   0.030546
2031-09-10   0.030448
2032-09-09   0.030444
2034-09-08   0.030541
2037-09-10   0.030639
2042-09-10   0.029884
2047-09-10   0.028396
2052-09-10   0.026996

In [1]:
import numpy as np
import pandas as pd

from CDS import CDS
from DiscountCurve import DiscountCurve

In [2]:
cds = CDS(10000000, traded_spread=134.595, start_date=pd.Timestamp('20221219'), end_date=pd.Timestamp('20271220'), cash_date=pd.Timestamp('20221219'))
zc = pd.read_excel('curvas2.xlsx', 'Curva')
zc['ZR'] = zc['ZR']/100
dc = DiscountCurve(zc['Fecha'], zc['ZR'], pd.Timestamp('20221218'), interpolation_kind='previous')

In [3]:
cds.cash_amount(dc)

ValueError: A value in x_new is below the interpolation range.

In [11]:
cds.to_pandas(dc)

         Date  Act. Cashflow  Discount Factor
0  2022-12-20   25277.777778         0.999882
1  2023-03-20   25000.000000         0.988726
2  2023-06-20   25555.555556         0.976653
3  2023-09-20   25555.555556         0.964831
4  2023-12-20   25277.777778         0.953730
5  2024-03-20   25277.777778         0.942564
6  2024-06-20   25555.555556         0.934474
7  2024-09-20   25555.555556         0.923922
8  2024-12-20   25277.777778         0.919266
9  2025-03-20   25000.000000         0.909801
10 2025-06-20   25555.555556         0.900225
11 2025-09-22   26111.111111         0.890546
12 2025-12-22   25277.777778         0.892891
13 2026-03-20   24444.444444         0.884827
14 2026-06-22   26111.111111         0.876293
15 2026-09-21   25277.777778         0.868110
16 2026-12-21   25277.777778         0.868255
17 2027-03-22   25277.777778         0.860658
18 2027-06-21   25277.777778         0.853127
19 2027-09-20   25277.777778         0.845662
20 2027-12-20   25277.777778         0.844127

In [12]:
petroleos = CDS(10000000, traded_spread=595.9197, start_date=pd.Timestamp('20221219'), end_date=pd.Timestamp('20271220'), cash_date=pd.Timestamp('20221219'))

In [13]:
petroleos.cash_amount(dc)

2252691.0337038557

In [14]:
petroleos.to_pandas(dc)

         Date  Act. Cashflow  Discount Factor
0  2022-12-20   25277.777778         0.999882
1  2023-03-20   25000.000000         0.988726
2  2023-06-20   25555.555556         0.976653
3  2023-09-20   25555.555556         0.964831
4  2023-12-20   25277.777778         0.953730
5  2024-03-20   25277.777778         0.942564
6  2024-06-20   25555.555556         0.934474
7  2024-09-20   25555.555556         0.923922
8  2024-12-20   25277.777778         0.919266
9  2025-03-20   25000.000000         0.909801
10 2025-06-20   25555.555556         0.900225
11 2025-09-22   26111.111111         0.890546
12 2025-12-22   25277.777778         0.892891
13 2026-03-20   24444.444444         0.884827
14 2026-06-22   26111.111111         0.876293
15 2026-09-21   25277.777778         0.868110
16 2026-12-21   25277.777778         0.868255
17 2027-03-22   25277.777778         0.860658
18 2027-06-21   25277.777778         0.853127
19 2027-09-20   25277.777778         0.845662
20 2027-12-20   25277.777778         0.844127

In [15]:
a = pd.Timestamp('20230430')
b = pd.Timestamp('20230405')
delta = pd.Timedelta(days = 182)

In [16]:
(a-b).days

25

In [17]:
b - 2*delta

Timestamp('2022-04-06 00:00:00')

In [18]:
pd.Series([3]*8 + [3+100])

0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8    103
dtype: int64

In [19]:
a = np.array([1,1.5,2,2.5])
1.05**(-a)

array([0.95238095, 0.92942864, 0.90702948, 0.88517013])

In [20]:
np.array(pd.Series(a))

array([1. , 1.5, 2. , 2.5])

In [21]:
a = pd.Timestamp('20230430')
b = pd.Timestamp('20230405')
type(np.array(np.array([a,b]))[0])

pandas._libs.tslibs.timestamps.Timestamp

In [22]:
import pandas as pd
from MexBonds import Cetes, MBonos
from Bootstrap import Bootstrap

bonos = pd.read_excel('prueba_bootstrap_bonos.xlsx', 'Bonos')

In [23]:
fecha = pd.Timestamp('20230405')
lista_bonos = []
precios = []
fechas = [fecha]

In [24]:
for i in range(len(bonos)):
    fechas.append(bonos['Vencimiento'].iloc[i])
    if bonos['Tipo valor'].iloc[i] == 'BI':
        lista_bonos.append(Cetes(bonos['Vencimiento'].iloc[i], bonos['Tasa'].iloc[i]))
    elif bonos['Tipo valor'].iloc[i] == 'M':
        lista_bonos.append(MBonos(bonos['Vencimiento'].iloc[i], bonos['Tasa'].iloc[i], bonos['Cupon'].iloc[i], fecha))

for i in range(len(bonos)):
    precios.append(lista_bonos[i].price(fecha))

In [25]:
bootstrap = Bootstrap(lista_bonos, precios, fechas, fecha)

In [26]:
#bootstrap.fit()

In [30]:
"""
             Zero Rate
2023-04-05   0.000367
2023-04-13   0.118728
2023-04-20   0.126180
2023-04-27   0.091738
2023-05-04   0.106801
2023-05-11   0.112286
2023-05-18   0.101041
2023-05-25   0.108372
2023-06-01   0.125197
2023-06-08   0.129422
2023-06-15   0.126045
2023-06-22   0.113973
2023-06-29   0.126380
2023-07-06   0.110840
2023-07-13   0.118922
2023-07-27   0.122100
2023-08-10   0.123193
2023-08-24   0.118616
2023-09-07   0.125717
2023-09-21   0.115482
2023-10-05   0.113750
2023-10-19   0.124785
2023-11-16   0.117077
2023-12-07   0.112697
2023-12-14   0.117039
2024-01-11   0.114880
2024-02-08   0.117988
2024-03-07   0.116304
2024-04-04   0.114559
2024-09-05   0.106337
2024-10-03   0.106616
2024-11-28   0.105352
2024-12-05   0.102848
2025-01-23   0.102938
2025-02-06   0.102430
2025-03-06   0.101261
2025-03-20   0.101726
2026-03-05   0.093843
2027-03-04   0.089248
2027-06-03   0.087694
2029-05-31   0.086108
2031-05-29   0.086705
2033-05-26   0.086830
2034-11-23   0.085779
2036-11-20   0.085054
2038-11-18   0.089437
2042-11-13   0.089872
2047-11-07   0.089608
2053-07-31   0.089177
"""

SyntaxError: invalid syntax (Temp/ipykernel_13676/2639108741.py, line 1)

In [40]:
(np.exp(0.0867321674895915*2976/365)-1)*360/2976

0.12438283339975845

In [39]:
(pd.Timestamp('20310529') - pd.Timestamp('20230405')).days

2976

In [1]:

from scipy.interpolate import interp1d

In [5]:
interp = interp1d([0], [3])

ValueError: x and y arrays must have at least 2 entries

In [17]:
index = pd.MultiIndex.from_tuples([('foo', 0)])
df = pd.DataFrame([[1]], columns=['a'], index=index)
df

       a
foo 0  1

In [10]:
if df.loc[0,'a'] in [1,4]:
    print('True')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
df.loc[('foo', 0), 'a']

1